<!DOCTYPE html>

<html>
    <head>
        <% include templates/head %>
        <script src='/javascripts/jquery.imagesloaded.min.js'></script>
        <script src='/javascripts/jquery.isotope.min.js'></script>
        <script src="/javascripts/index.js"></script>
    </head>
    <body>
        <% include templates/header %>
        <div class="container">
            <div id='roominfo'></div>
            <div id='roomlist'></div>
            <canvas id="world" class="canvas"></canvas>
            <p>
                <a href='/new_room'>ルームを作成する</a>
                <% if(!authed) { %>
                    <font color=red>（＊ログインが必要です）</font>
                <% } %>
            </p>
            <div>
                <button class="btn" id="file-btn">Button</button>
                <input type="file" id="dummy-file-button" class="hidden">
            </div>
        </div>
    </body>
</html>
