<!DOCTYPE html>
<html>
<head>
<% include templates/head %>
<script src='/javascripts/jquery.imagesloaded.min.js'></script>
<script src='/javascripts/jquery.isotope.min.js'></script>
    <title><%= title %></title>
<style>
    .item {margin:10px;}
    .item img{max-width:100px;}
#roominfo {border-radius:10px; border:1px solid black;
        height:3em;
        padding-left:1em;
        overflow: auto;
    }
    #roominfo h2 {
        margin:0;
        padding:0;
    }
#sortAction {
    margin-top:0;
    list-style:none;
}
#sortAction li {
    float:left;
}
#roomlist {
    clear:both;
}
/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
</style>
    <script>
$(function(){
    return ;
    var iniRoomElem = function(room) {
        var $image = $("<div>").attr({class:'item',count:room.count,title:room.title,author:room.author})
            .append($("<img>").attr({
                src:room.sumbnail,
                alt:room.title
            })
            .click(function(){
                $info.empty();
                $cont = $("<div>").hide();
                $info.append($cont.append($("<a>").attr({
                    href:'/room?number='+room.number
                    }).append($("<h2>").text(room.count +"人"+ "ー" +room.title + "ー" +room.author+"さん")))
                    .append($("<div>").text(room.summary)));
                $cont.show('slide');
        }));
        return $image;
    };
    $.get('/roomlist',function(data){
        $info = $("#roominfo");
        $list = $("#roomlist");
        JSON.parse(data).forEach(function(room){
            $list.append(iniRoomElem(room));
        });
        $list.imagesLoaded(function(){
            $list.isotope({
                itemSelector: '.item'
                ,getSortData : {
                    count: function($elem) {
                        return $elem.attr('count')-0;
                    }
                    ,title: function($elem) {
                        return $elem.attr('title');
                    }
                    ,author: function($elem) {
                        return $elem.attr('author');
                    }
                }
            });
        });
    });//! $.get roomlist
    
    $("#sortAction [type=button]").click(function(){
        $("#roomlist").isotope({
            sortBy:$(this).val().toLowerCase()
            ,sortAscending:false
        });
    });

    /*
    mainsocket.on('announce',function(data){
        var dat = JSON.parse(data);
        switch(dat.mode){
        case 'new room':
            //
            // TODO: adding room into roomlist(isotope)
            //
            var $elem = iniRoomElem(dat);
            $("#roomlist").prepend($elem).isotope('reloadItems').isotope({sortBy:'original-order'});
            break;
        default: break;
        }
    });
*/

});
    </script>
</head>
<body>
    <% include templates/header %>
    <h1><%= title %></h1>
    <p><a href='/new_room'>ルームを作成する</a><% if(!authed){ %><font color=red>（＊ログインが必要です）</font><% } %></p>
    <div id='roominfo'></div>
    <p style='margin:10px 0 0 10px'>SORT</p>
    <ul id='sortAction'>
        <li><input type='button' value='Count' /></li>
        <li><input type='button' value='Title' /></li>
        <li><input type='button' value='Author' /></li>
    </ul>
    <div id='roomlist'></div>
    <% include templates/footer %>
  </body>
</html>
