<html>
<head>
 <% include templates/head %>
 <script>
 $(function(){
    $("#loginForm").submit(function(){
        var userid = $("#userid").val();
        var passwd = $("#passwd").val();
        if (userid.length ==0 || passwd.length == 0) {
            alert("空欄があります。");
            return false;
        }
        else {
            return true;
        }
    });
  });
 </script>
</head>
<body>
<% include templates/header %>
<p><%= message %></p>
<form action='/check_account' method='POST' id="loginForm">
 アカウント名：<input type='text' name='id' id='userid' /><br>
 パスワード：<input type='password' name='passwd' id='passwd' /><br>
 <input type='hidden' name='referer' value='<%= referer %>'>
 <input type='submit' value='login' /><br>
</form>
</p>
<p><a href="/new_account">新しくアカウントを作る</a></p>
<% include templates/footer %>
</body>
</html>
