<!DOCTYPE html>

<html>
    <head>
        <% include templates2/head %>
    </head>
    <body>
        <img class="bg" src="/images/enchantROOM.jpg" />
        <form class="form-signin">
            <h2 class="form-signin-heading">
                Please login
            </h2>
            <input type="text" class="input-block-level" placeholder="Email address" />
            <input type="password" class="input-block-level" placeholder="Password" />
            <label class="checkbox">
                <input type="checkbox" value="remember-mi" /> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </body>
</html>