<!DOCTYPE html>

<html>
    <head>
        <% include templates/head %>
        <script src='/javascripts/jquery.imagesloaded.min.js'></script>
        <script src='/javascripts/jquery.isotope.min.js'></script>
        <script>
        // setInterval(function() {
        //     window.scrollBy(0, 1);
        // }, 1000/30);
        
        $(function() {
            
            $('html,body').animate({
                scrollTop: window.document.height - window.innerHeight,
            }, 10 * 1000, 'linear', function() {
//                console.log("finish");
            });
        });
        </script>
    </head>
    <body>
        <img class="bg" src="/images/enchantROOM.jpg" />
        <form action='/check_account' method='POST' class="form-signin">
            <h2 class="form-signin-heading">
                Please login
            </h2>
            <input type="text" name='id' class="input-block-level" placeholder="Name" />
            <input type="password" name='passwd' class="input-block-level" placeholder="Password" />
            <input type='hidden' name='referer' value='/'>
            <button class="btn btn-large btn-primary" type="submit" value='login'>
                Login
            </button>
        </form>
    </body>
</html>