<!DOCTYPE html>

<html>
    <head>
        <% include templates/head %>
        <script src='/javascripts/jquery.imagesloaded.min.js'></script>
        <script src='/javascripts/jquery.isotope.min.js'></script>
        <script>
        // setInterval(function() {
        //     window.scrollBy(0, 1);
        // }, 1000/30);
        
        $(function() {
            
            $('html,body').animate({
                scrollTop: window.document.height - window.innerHeight,
            }, 10 * 1000, 'linear', function() {
//                console.log("finish");
            });
        });
        </script>
    </head>
    <body>
        <img class="bg" src="/images/enchantROOM.jpg" />
        <form class="form-signin">
            <h2 class="form-signin-heading">
                Please login
            </h2>
            <input type="text" class="input-block-level" placeholder="Email address" />
            <input type="password" class="input-block-level" placeholder="Password" />
            <label class="checkbox">
                <input type="checkbox" value="remember-mi" /> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </body>
</html>