<html>
<head>
<% include templates/head %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
<% if (authed) { %>
    $(function(){
        $("#form").ajaxForm({
            success: function(data){
                if (data.flg) {
                    //
                    // TODO: websocketの起動
                    //
                    mainsocket.emit('create room',JSON.stringify({
                        user:'<%= username %>',
                        room:data.room,
                        title:$("input [name=title]").val()
                    }));
                    location.replace('/room?number=' + data.room);
                }
                else alert('ルーム作成に失敗しました。');
            }
            ,error: function(data) {
                alert('ルーム作成に失敗しました。');
            }
        });
    });
    var create = function(){
        if ($("#title").val().length == 0) {
            alert("タイトルが入力されていません");
            return;
        }
        $("#form").submit();
    };
<% } %>
</script>
</head>
<body>
<% include templates/header %>
<% if (authed) { %>
<form action='/create_room' method='POST' id='form'  enctype='multipart/form-data'>
    <input type='hidden' name='username' value='<%= username%>' />
    <font color=red>*</font>タイトル：<input id="title" type='text' name='title' /><br>
    サムネイル：<input type='file' name='sumbnail' /><br>
    説明：<textarea name='summary' col=100></textarea><br>
    <font color=red>*</font>は必須事項です。<input type='button' value='create' onclick='create()'/>
</form>
<% } else { %>
    <p>ルームの作成するにはログインしてください。</p>
<% } %>
<% include templates/footer %>
</body>
</html>
