body {
  padding: 50px;
}
img.bg {
  min-height: 100%;
  min-height: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  text-align: center;
}
.container .canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-shadow: 0px 0px 4px 0px #aaa;
}
.form-signin {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-width: 300px;
  max-height: 250px;
  padding: 19px 29px 29px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
#roomlist {
  clear: both;
}
#roomlist .item {
  margin: 10px;
}
#roomlist .item img {
  max-width: 100px;
}
#roominfo {
  border-radius: 10px;
  border: 1px solid black;
  height: 3em;
  padding-left: 1em;
  overflow: auto;
}
#roominfo h2 {
  margin: 0;
  padding: 0;
}
#sortAction {
  margin-top: 0;
  list-style: none;
}
#sortAction li {
  float: left;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
